@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&family=Raleway:wght@100;300;400;500;900&display=swap');

:root{
    //colors
    --black: #261E21;
    --bg: #FAA48D;
    --light: #fdede9;
    --white: #efefef;
    --callToAction: #3b73d4;
    //Fonts
    --headline: 'Lobster Two', cursive;
    --paragraph: 'Raleway', sans-serif;

}